<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>359287358840-676uqir7vp7hqre7c6vcph1tissagpjn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEhnV8mT2Gba5hASfjx81SxqqQjBd8eso</string>
	<key>GCM_SENDER_ID</key>
	<string>359287358840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cts.LTYSAPartner</string>
	<key>PROJECT_ID</key>
	<string>ltypartner</string>
	<key>STORAGE_BUCKET</key>
	<string>ltypartner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359287358840:ios:cf7e5bac5f34e5e89b348d</string>
	<key>DATABASE_URL</key>
	<string>https://ltypartner-default-rtdb.firebaseio.com</string>
</dict>
</plist>